* {box-sizing: border-box}
*::selection {
  background: rgba(0,0,0,0.4);
}

@font-face {
  font-family: "Minecrafter";
  src: url("files/fonts/Minecrafter.ttf");
}
@font-face {
  font-family: "Minecraftia";
  src: url("files/fonts/Minecraftia.ttf");
}



body, html {
  margin: 0;
  color: whitesmoke;
  font-family: "Minecraftia";
}



@keyframes subiconnav {
  from {left: -60px}
  to {left: 0px}
}
@keyframes homenav {
  from {right: -60px}
  to {right: 0px}
}

@keyframes reficon {
  from {bottom: -35px}
  to {bottom: 0px}
}
@keyframes reficonexit {
  from {bottom: 0px}
  to {bottom: -35px}
}

@keyframes refexitentrance {
  from {top: -35px}
  to {top: 0px}
}
@keyframes refexitexit {
  from {top: 0px}
  to {top: -35px}
}










.subiconnav { 
  position: fixed;
  top: 50%;
  left: -60px;
  z-index: 20;
  
  transform: translateY(-50%);

  animation: subiconnav 1.5s forwards;
  
  width: min-content;
}



.XimgX {
  position: absolute;
  top: 0px;
  left: 0px;

  opacity: 0.3;
}



.icon, .XiconX {
  background-color: rgba(10,10,10,0.7);
  
  padding: 10px;

  width: 60px;
  height: 60px;
  
  transition: 1s;
}
.XiconX {
  transition: 0.5s;
}



.subiconnav > div {
  border-radius: 0px 10px 10px 0px;


  float: left;
  clear: left;
}



.subiconnav > span {
  padding: 10px 0px;
  
  position: absolute;
  left: 60px;
  
  width: 0px;
  height: 60px;
  
  overflow: hidden;
  transition: 1s;

  white-space: nowrap;
  text-align: center;
  font-size: 40px;
}
.subiconnav > span > span {
  position: absolute;
  left: 110px;
  
  width: min-content;

  transform: translateX(-50%);
}

.GR {top: 60px}
.History {top: 120px}
.MaM {top: 180px}



div.icon:hover {
  background-color: rgba(35,35,35,0.6);
  width: 300px;

  backdrop-filter: blur(2px);
}
div.XiconX:hover {
  background-color: rgba(50,0,0,0.6);
}
div.icon:hover + span {
  width: 240px;
}










.homenav {
  position: fixed;
  top: 50%;
  right: -60px;
  z-index: 20;
  
  transform: translateY(-50%);

  animation: homenav 1.5s forwards;

  width: min-content;
}



.homenav > div {
  border-radius: 10px 0px 0px 10px;

  float: right;
  clear: right;
}



.iconright {
  position:absolute;
  right: 10px;
}



.homenav > span {
  padding: 10px 0px;
  
  position: absolute;
  right: 60px;
  
  width: 0px;
  height: 60px;
  
  overflow: hidden;
  transition: 1s;

  white-space: nowrap;
  text-align: center;
  font-size: 40px;
}
.homenav > span > span {
  position: absolute;
  right: 110px;
  
  width: min-content;

  transform: translateX(50%);
}










.references {
  position: fixed;
  bottom: 0px;
  z-index: 20;

  width: 100%;
  height: min-content;
}



.reficon, .refexit {
  border-radius: 15px 15px 0px 0px;
  
  background-color: rgba(10,10,10,0.7);

  position: fixed;
  left: 50%;
  
  width: 70px;
  height: 35px;

  text-align: center;
  font-size: 45px;

  color: whitesmoke;
  text-decoration: none;
  
  transform: translateX(-50%);

  z-index: 25;
}



#refcontainer {
  border: 1px solid yellow;
  background-color: rgba(10,10,10,0.8);

  overflow: auto;
  transition: 1.25s;

  padding: 30px;
  
  width: 100%;
  height: 0vh;

  opacity: 0;
}



.reficon {
  animation: reficon 1.5s 1.25s forwards;
}



.refexit {
  animation: refexitexit 1.5s forwards;

  transform: translateX(-50%) rotateX(180deg);
}



#refcontainer:target {
  height: 100vh;

  opacity: 1;

  backdrop-filter: blur(5px);
}
#refcontainer:target ~ .reficon {
  animation: reficonexit 1.5s forwards;
}
#refcontainer:target ~ .refexit {
  animation: refexitentrance 1.5s 1.25s forwards;
}



.tooltip {
  background: rgba(10,10,10,0.3);

  border-radius: 10px;

  padding: 10px;

  width: fit-content;
  height: fit-content;
  
  font-size: 28px;

  user-select: none;

  opacity: 0;

  backdrop-filter: blur(1px);
}



.references > .tooltip {
  position: fixed;
  left: 50%;

  transition: 0.75s 0.5s;

  transform: translateX(-50%);
}



.reficontt {
  bottom: -48px;
}
.reficon:hover ~ .reficontt {
  bottom: 40px;
  
  opacity: 1;
}



.refexittt {
  top: -48px;
}
.refexit:hover ~ .refexittt {
  top: 40px;
  
  opacity: 1;
}



#refcontainer h2 {
  margin: 0px;

  text-align: center;
  font-size: 36px;
}

#refcontainer > section:not(:first-of-type) {
  margin-top: 100px;
}

#refcontainer h3 {
  color: #4c4c4c;
  text-align: center;
}

#refcontainer p {
  text-align: center;
  font-size: 28px;
}



.flex, .flexsprite {
  margin: auto;

  display: flex;
  justify-content: center;
}



.flexsprite {
  width: 25%;
}

.flexsprite > section {
  margin: 0px;

  width: 42%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}



#refcontainer .margintop {
  margin-top: 30px;
}



.flex {
  width: 50%;
}

.flex h3, .flex .flexsprite {
  margin: 0px;

  width: 50%;
}



.spriteborder {
  box-sizing: content-box;
  
  border: 4px solid whitesmoke;
  border-radius: 50%;

  padding: 5px;
  margin: 10px;

  width: 32px;
  height: 32px;
}



.Minecraft, .Xbox, .GooglePlay, .AppStore, .Fandom {
  background: url("/files/sprites/LinkSprites.png") no-repeat;

  width: 32px;
  height: 32px;

  display: block;
}



.Minecraft {
  background-position: 0px 0px;
}
.Minecraft:hover {
  background-position: 0px -32px;
}

.Xbox {
  background-position: -32px 0px;
}
.Xbox:hover {
  background-position: -32px -32px;
}

.GooglePlay {
  background-position: -64px 0px;

  transform: translateX(1px);
}
.GooglePlay:hover {
  background-position: -64px -32px;
}

.AppStore {
  background-position: -96px 0px;

  transform: scale(0.9, 0.9);
}
.AppStore:hover {
  background-position: -96px -32px;
}

.Fandom {
  background-position: -128px 0px;
}
.Fandom:hover {
  background-position: -128px -32px;
}



ol {
  margin: 0px;
}
li, li > a {
  color: whitesmoke;
  
  font-family: "Minecraftia";
  font-size: 24px;
  
  text-decoration: none;
}
li {
  margin: 20px;
}










.right {
  text-align: right
}



article {
  margin: 40px auto;
  
  width: 1100px;
  
  background-color: rgba(0,0,0,0.3);
  
  padding: 15px 20px;
}
article:hover {
  background-color: rgba(0,0,0,0.4);
}



p {
  margin: auto;
  
  text-align: justify;
  font-size: 32px;
}



a.subpage:link { 
  color: lightskyblue;
  font-family: "Minecrafter";
  font-size: 40px;
}
a.subpage:hover {color: #9edaff;}
a.subpage:active {color: lightskyblue;}



a.subpage:visited {color: #a485f9;}
a.subpage:visited:hover {color: #b59bfd;}
a.subpage:visited:active {color: #a485f9;}



#single-player, #multiplayer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
  
  min-height: 1080px;
}
#single-player {
  background-image: url("files/backgrounds/Single-PlayerBG.jpg");
  
  padding: 1px 0px 200px;
}
#multiplayer {
  background-image: url("files/backgrounds/MultiplayerBG.jpeg");
  
  padding: 200px 0px 0px;
}



.transition {
  background-color: black;
  
  height: 50px;

  position: relative;
  z-index: 10;
  
  box-shadow: 0px 0px 125px 200px black;
}



h1  {
  margin: 40px auto;
  
  width: 1250px;
  
  background-color: rgba(92,255,92,0.5);
  
  padding-bottom: 15px;

  text-align: center;
  color: #262626;
  font-family: "Minecrafter";
}



#home h1 {
  font-size: 50px;
}
#GP h1, #History h1 {
  font-size: 45px;
}
#GR h1 {
  font-size: 42px;
}



h2 {
  padding-bottom: 10px;
  
  color: #7cee7c;
  font-family: "Minecrafter";
}
h3 {
  padding-bottom: 10px;
  margin: 0px;
  
  color: #262626;
  font-family: "Minecrafter";
  font-size: 28px;
}
.header {
  margin: 0px 25px 15px;
  font-size: 40px;
}



#home {
  background: url("files/backgrounds/DirtBG.jpg") no-repeat fixed center top;
  background-size: cover;
}
#GP {
  background-color: black;
}
#GR {
  background: url("files/backgrounds/LibraryBG.png") no-repeat fixed top right;
  background-size: cover;
}

.background {
  border: 0;
  
  position: fixed;
  top: 0;

  width: 100vw;
  height: 100vh;
}
iframe.background {
  z-index: -20;
}
div.background {
  z-index: -10;
}